/* DEFAULT SETTING */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: currentColor;
}

ul,
ol,
menu {
	list-style: none;
}

figure > img {
	display: block;
	width: 100%;
}
.app {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    justify-content: center;
}
.content {
    flex-grow: 1;
    overflow: auto;
}
.asidebar {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    background-color: #222222;
}
.toolbar-item {
    display: flex;
}
/* debug */

.debug .app {
    border: 3px solid red;
    /* min-height: 100%; */
}

.debug .content {
    min-height: 300px;
    border: 3px solid red;
    width: 800px;
}
.debug .asidebar {
    /* border: 3px solid blue; */
    min-height: 30px;
    /* min-width: 1000px; */

}
.debug .toolbar-item {
    color: white;
}




