/* DEFAULT SETTING */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: currentColor;
}
body {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


ul,
ol,
menu {
	list-style: none;
}

figure > img {
	display: block;
	width: 100%;
}

.container {
	max-width: 1000px;
    /* width: 100%; */
	margin: 0 auto;
    /* height: 100%; */
}
.large-container {
    width: 800px;
    margin: 0 auto;
    /* width: 100%; */
    
}

.display-flex {
    display: flex;
}
.flex-shrink-no{
    flex-shrink: 0;
}

.app {
    height: 100vh;
    padding: 80px 280px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

button {
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    color: currentColor;
    padding: 5px;
    border-radius: 10%;
}

/* TOP-RIGHT-BUTTONS */
.top-right-btns {
    position: absolute;
    top: 15px;
    right: 15px;
    
}

/* .top-right-btns li > .button {
    background-color: #4A4A4A;
    color: white;
} */





/* MAIN */
.img-container {
    position: relative;
    height: 50px;
    flex-basis: calc(100% / 7);
    width: 100%;
    justify-content: center;
    align-items: center;

}
.microphone {
    position: absolute;
    left: 0;
    top: 0;
    color: violet;
    
}
.page-content{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20 px;
    flex-grow: 1;
    overflow: hidden;
}




/* FOOTER */

footer {
    position: sticky;
    margin-top: auto;
}


/* DEBUGS */

 .debug .app{
    background-color: black;
}

/* .debug .container {
    background-color: red;
    border: 5px solid white;
    padding: 50px;
    
} */
/* .debug .row {
    min-height: 100%;
    background-color: blue;
    flex-wrap: wrap;
    padding: 10px;
    
} */

/* /* .debug .col-7 {
    min-height: 15px;
    background-color: blueviolet;
    border: 5px solid black;
    width: 100%; 
} */

 /* .debug footer {
    min-height: 30px;
    background-color: violet;
} */

.debug .large-container {
    min-height: 30px;
    background-color: #222222;
} 